body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-color: #e0cedd8c;
    font-weight: 600;
}

.header_pitchManage {

    background-color: #6c757d;
    color: white;
    text-align: center;
    border-bottom: 4px solid white;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    padding: 35px 0px;
}

.table {
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #343a40;
    color: white;
}

.table a {
    color: black;
    text-decoration: none;
}

.table a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.xoa {
    margin-left: 20px;
}

.addUser {
    width: auto;
    height: auto;
    position: absolute;
    right: 20px;
}

.addUser a {
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg,#ffd54f 0%,#ffb300 100%);
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255,179,0,0.3);
}

.addUser a:hover {
    background: linear-gradient(90deg,#ffb300 0%,#ff8f00 100%);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(255,179,0,0.4);
}