body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e0cedd8c;
    font-weight: 600;
}

.content {
    flex: 1;
    /* Để footer không che phủ nội dung chính */
}

.footer {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer .social-icons a:hover {
    background-color: #666;
    color: #fff;
}