body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9fafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    background: white;
    border-radius: 12px;
}

.container img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 15px;
    border-bottom: 2px solid #ddd;
    margin-right: -15px;
    margin-left: 10px;
}

.ui_login {
    padding: 20px;
    width: 100%;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
    margin: 0;
}

.form-group {
    width: 100%;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px -5px #cff0ff;
    box-sizing: border-box;
}

.form-group:focus {
    border-color: rgb(16, 137, 211);
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 10px -15px rgba(133, 189, 215, 0.88);
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: rgb(16, 137, 211);
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .ui_login {
        width: 50%;
        padding: 40px;
    }

    .container img {
        width: 50%;
        max-height: none;
    }
}
