body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-color: #e0cedd8c;
    font-weight: 600;
}

.header_pitchManage {
    padding: 20px 0;
    background-color: #6c757d;
    color: white;
    text-align: center;
    border-bottom: 4px solid white;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    padding: 18px 0px;
    color: #ffffff;
    letter-spacing: 0.4px;
}



.input-group-text {
    min-width: 120px;
    justify-content: center;
}

.table-responsive {
    max-height: 400px;
    overflow-y: visible;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}


.table tr:hover {
    cursor: pointer;
}

.btn {

    background-color: #343a40;
    color: white;
}

.btn:hover {
    width: 100%;
    background-color: #4CAF50;
    color: white;
}

input[name="sua"]:hover {
    background-color: #f0d929;
    color: black;
}

input[name="xoa"]:hover {
    background-color: #ea2838;
    color: black;
}